<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>

    <form action="/user" method="POST">
        <label>Enter your name: </label>
        <input type="text" name="name" required>
        <label>Enter your email: </label>
        <input type="text" name="email" required>
        <label>Enter your password: </label>
        <input type="password" name="password" required>

        <button typr="submit"> Submit</button>
    </form>
</body>
</html>